*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Helvetica';
    display: flex;
    align-items: center;
    justify-content: center;
}

table{
    padding: 20px;
}

th{
    padding: 15px;
}